.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 30px;
	border-bottom: 2px solid var(--mainLightRed);
}

.navbar img {
	max-width: 80px;
}

.searcher {
	position: relative;
}

.searcher .search-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	color: var(--mainBlue);
}

.navbar .search-input {
	width: 350px;
}

.menu {
	display: flex;
	gap: 1.7rem;
	justify-content: flex-end;
	align-items: center;
}

.menu a {
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--mainDarkerBlue);
}

.menu a:hover {
	opacity: 0.8;
}
